/* 1) Remove all page margins/padding */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #18181b;
}

/* 2) SVG fills the viewport */
.main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30vw;
  background: #18181b;
  color: #fff;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.right-panel {
  width: 70vw;
  height: 100vh;
  position:inherit;
}
#network {
  width: 100%;
  height: 100%;
  display: block;
  background: #18181b;
}

.left-panel h1 {
  margin-bottom: 20px;
  font-size: 2.2em;
  font-weight: 900;
  color: #b9a3e3;
  text-transform:uppercase;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    5px 5px 0 #000; font-weight: 900;
}

.left-panel p {
  font-size: 1.3em;
  max-width: 90%;
}

.link {
  stroke: #717171;
  stroke-opacity: 0.6;
}
.node {
  stroke: #444;
  stroke-width: 1px;
  cursor: pointer;
}
.nodelabel {
  font: 600 13px sans-serif;
  fill: #fff;
  pointer-events: none;
}
.highlight-node {
  stroke: #000;
  stroke-width: 2px;
}
.highlight-link {
  stroke: #666;
  stroke-opacity: 1;
}

#tooltip,#tooltip4,#tooltip5 {
  position: absolute;
  pointer-events: none;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  visibility: hidden;
}
.banner {
  background-color: #9146ff; /* Twitch purple */
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Added padding for spacing */
  position: relative;
}
.banner-icon {
  width: 60px; /* Adjusted size for the icon */
  height: 60px;
  margin-right: 20px; /* Space between icon and text */
}
.banner-text {
  font-size: 34px;
  font-weight: 900;
  color: white;
  text-transform: lowercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    5px 5px 0 #000; /* Thicker shadow for more pronounced 3D effect */
}
:root {
  --bg: #000000;
  --blue: rgb(78, 182, 168);
  --orange: rgb(96, 177, 202);

}
* {
  box-sizing: border-box;
}
#chart {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

svg {
  background: #18181b;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.bar1 {
  fill: var(--blue);
  rx: 4;
  ry: 4;
  transition: fill 0.2s;
}
.bar1:hover {
  fill: darkblue;
}

.bar2 {
  fill: var(--orange);
  rx: 4;
  ry: 4;
  transition: fill 0.2s;
}
.bar2:hover {
  fill: orangered;
}

.bar1.selected,
.bar2.selected {
  stroke: #f8f6f6;
  stroke-width: 2px;
}

.axis-label {
  font-size: 20px;
  fill: #ffffff;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-anchor: middle;
  fill: #f3eded;
}

.tick text {
  font-size: 14px;
}

.error-bar {
  stroke: #e9e6e6;
  stroke-width: 2px;
}

#tooltip2 {
  position: absolute;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 14px;
  border-radius: 4px;
  pointer-events: none;
  visibility: hidden;
  box-shadow: var(--shadow);
}
.info{
  margin-top: 50px;
}
.info h2{
  margin-left: 100px;
  margin-bottom: 20px;
  font-size:2.2em;
  font-weight: 900;
  color: #b9a3e3;
  text-transform:capitalize;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    5px 5px 0 #000; 
}
.info p {
  font-size: 1.3em;
  max-width: 90%;
  color:white;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
  overflow-wrap: break-word;
}
strong{
  color:#b9a3e3;
}
.right-panel2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50vw;
    background: #18181b;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0px;

  }
  .left-panel2 {
    width: 50vw;
    height: 100vh;
    align-items: center;
    overflow-wrap: break-word;
    margin-left: -50px;
  }
  #pie { display: flex; justify-content: center; align-items: center; height: 90vh;margin-left: 10px;}
  .slice path { cursor: pointer; transition: transform 0.2s; }
    .slice:hover path { transform: scale(1.05); }

    /* Tooltip styling */
    #tooltip3{
      position: absolute;
      padding: 8px 12px;
      background: rgba(255, 253, 253, 0.8);
      color: #000000;
      border-radius: 4px;
      pointer-events: none;
      display: none;
      font-size: 14px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      line-height: 1.4;
    }
    #tooltip3 .lang { font-weight: 600; font-size: 14px; margin-bottom: 4px; display: block; }
    #tooltip3 .details { font-size: 14px; }
    #community {
      width: 100vw;
      height: 100vh;
      background: #18181b;

    }
    #community svg {
      margin-left: 0;
      display: block;
      max-width: 100%;
      max-height: 100vh;

    }
    .link { stroke: #837d7d; stroke-width: 1px; }
    .node { stroke: #000000; stroke-width: 1.5px; cursor: pointer; }
    .legend {
        font-size: 14px;
      }
      .legend-item { cursor: pointer; }
      .legend-color { width: 12px; height: 12px; display: inline-block; margin-right: 4px; }
      .legend, .legend-item, .legend-item text {
        color: #fff !important;
        fill: #fff !important;
        font-size:14px;
      }
      #path { width:100vw; height:100vh; background: #18181b; }
      .path-link     { fill: none; stroke-width: 4px; }
      .longest       { stroke: rgb(220, 20, 60); }
      .shortest      { stroke: rgb(82, 169, 224); }
      .path-node     { stroke: #000; stroke-width: 5px; }
      .longest-node  { fill: crimson; }
      .shortest-node { fill: rgb(82, 169, 224); }
      .path-label    { font-size: 16px; font-weight: bold; pointer-events: none; }

      .path-link.community {
        stroke: rgb(239, 64, 230);
        stroke-width: 4;
        opacity: 1;
      }
      
      .path-node.community-node {
        fill:rgb(239, 64, 230);
        stroke: black;
        stroke-width: 5px;
      }
      
      .right-panel2 h2{
        margin-bottom: 50px;
        margin-left: -100px;
      }
      .right-panel2 p{
        text-align: left;
        margin-left: 0;
        margin-right: -5px;
      }

      .red{
        color: rgb(220, 20, 60);
        font-weight: bold;
      }
      .blue{
        color: rgb(82, 169, 224);;
        font-weight: bold;
      }
      .purple{
        color: rgb(239, 64, 230);
        font-weight: bold;
      }